.navbar-light{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff !important;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(82,63,105,0.1);
    box-shadow: 0px 0px 40px 0px rgba(82,63,105,0.1);
    border: 0;
}
.navbar-nav .nav-item{
    margin-right: 5px;
}
.navbar-nav .nav-item.active .nav-link{
    color: #5d78ff !important;
    background-color: #f0f3ff;
    border-radius: 4px;
}
.navbar-nav .nav-item .nav-link{
    color: #6c7293 !important;
    font-weight: 500;
    transition: color, background-color 0.3s;
}
.navbar-nav .nav-link:hover{
    color: #5d78ff !important;
    background-color: #f0f3ff;
    border-radius: 4px;
}
.temas{
    background-color: #f2f3f8;
}
.section-title{
    padding: 2rem 3rem 1rem 3rem;
}
.section-container{
    display: flex;
    padding: 0 3rem 3rem 3rem;
}
.card-container{
    max-height: 19rem;
    height: 18rem;
    border: 0;
    box-shadow: #0000001a 0 1px 20px 5px;
    cursor: pointer;
    transition: 0.5s ease;
    overflow-y: hidden;
}
.card-container:hover{
    transform: scale(1.05);
}
.card-container-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.inside-card{
    max-height: 10em !important;
    margin-bottom: 1rem;
    overflow-y: hidden;
    width: 100%;
}
p.card-resumo{
    font-size: 10pt;
    text-align: justify;
    margin: 0;
}
.card-title{
    padding: 1em 1em 0 1em;
    font-weight: 700;
}
.card-tags{
    display: flex;
    flex-wrap: wrap;
    padding: 0 1em 1em 1em;
}
.tag{
    margin-left: 4px;
    margin-bottom: 2px;
}
.card-add-casos-container{
    border: 2px;
    border-style: dashed;
    border-color: #28a745ad;
}
.inside-add-card{
    text-align: center;
}
.form-add-files{
    width: 60%;
}
.add-case-container{
    padding: 2em;
}
.add-card-plus{
    font-size: 40pt;
    margin: 0;
    color: #28a745;
}
.cases-section-container{
    padding: 1rem 3rem 3rem 3rem;
    flex-wrap: wrap;
}
.cases-card{
    margin-top: 30px;
}
.card-remove-button{
    cursor: pointer;
    z-index: 10;
    margin-right: 23px;
}
.search-bar{
    width: 45rem !important;
}
.drop-zone{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 2px dashed #1a7af3;
    width: 60%;
    border-radius: 0.5rem;
    cursor: pointer;
}
.thumbnail{
    width: 100px;
    cursor: pointer;
}
.progress-resumo, .progress-thumbnails{
    padding-top: 5px;
    display: none;
}
.button-icon{
    padding: 0;
    width: 15px;
    text-align: center;
    background: none;
    border: none;
    font-size: 14px;
    text-decoration: none;
}
.action-buttons {
    float: right;
    display: inline-flex;
    flex: 1;
    flex-direction: column;
    vertical-align: middle;
    align-items: flex-start;
    z-index: 999;
    padding-left: 10px;
}
.content-of-card{
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
}
.card-remove-button {
    color: #5f5f5f;
}
a.button.button-icon.button-icon__actions, .button-icon, .button-icon__actions{
    box-shadow: 1px 1px 5px #fa3232c9;
    background-color: #fa3232;
    width: 20px;
    border-radius: 3px;
    margin-bottom: 10px;
    border: 0;
    color: white;
}
.mySkip{
    width: 180px !important;
}
.upload-error-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: 0.5s ease-in;
}
.error-file{
    color: red;
}

/*


                CREATE_CARD



*/
input[type=checkbox] {display:none;}
span.tag-add{
    background-color: #dc3545;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #dc3545ad;
    font-weight:600;
    color:#FFF;
    font-size:.85em;
    letter-spacing: .5px;
    text-decoration:none;
    font-family:sans-serif;
    text-align:center;
    padding: 3px 10px;
    cursor:pointer;
    display:block;
    margin: 0 auto;
    -webkit-transition:background-color 150ms ease-in;
    -moz-transition:background-color 150ms ease-in;
    -ms-transition:background-color 150ms ease-in;
    -o-transition:background-color 150ms ease-in;
    transition:background-color 150ms ease-in;
}
input[type=checkbox]:checked + span {
    background-color: #28a745;
    color: white;
    text-decoration:none;
    -webkit-border-radius:80px;
    -moz-border-radius:80px;
    border-radius:80px;
    border: 1px solid #28a745ad;
}

span .tag-add:hover {
    border: 1px solid #28a745ad;
    background-color: #28a745;
    color: rgba(255,255,255,.65);
}

input[type=checkbox]:checked:hover + span {
    background-color: #dc3545;
    color: rgba(255,255,255,.65);
    border: 1px solid #dc3545ad;
    text-decoration: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.add-card-tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col-4.side-bar{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-height: calc(100vh - 4rem);
    padding: 15px 15px 0 15px;
    background-color: #f1f3f4;
}
.main-panel{
    min-height: calc(100vh - 4rem);
}
.form-side-bar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.main-div{
    display: flex;
    flex-direction: column;
    padding: 15px 15px 0 15px;
}
.thumbnail-img{
    width: 200px;
    box-shadow: 1px -2px 20px #0000004a;
}
.doc-brief-container{
    display: flex;
    flex-direction: row;
    padding: 10px 0 50px 0;
}
.doc-brief-container::before {
    content: '';
    position: absolute;
    top: 21em;
    left: 75px;
    right: 30px;
    height: 1px;
    background: #0000001f;
}
.doc-brief-name{
    padding-top: 5px;
}

/*


                ADD_DOCS



*/

.main-section{
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-docs-dropzone{
    font-size: 2rem;
    border-style: dashed;
    border-radius: 10px;
    padding: 5rem;
}

/*


             OPEN CASE



*/
.button-docs-text{
    padding: 8px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
}
.first-part{
    padding: 2em 0 0 0;
}
.second-part{
    text-align: justify;
    font-size: 10pt;
    max-width: 80%;
}
.main-panel-content {
    display: flex;
    flex-direction: column;
}

.open-case-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.open-case-content{
    display: flex;
    padding: 20px 50px;
}
.no-precedents{
    text-align: center;
}

.precedents-card{

    border-radius: 5px;
    padding: 15px;
    margin-bottom: 2rem;
    /*
        Altura do campo de ementas
    */
    /*max-height: 20rem;*/
    overflow-y: hidden;

    font-size: 10pt;
    text-align: justify;

    box-shadow: 0 0 5px 1px #0000004d;
}
.open-case-thumbnail{
    width: 200px;
    cursor: pointer;
    box-shadow: 0 1px 20px 5px #0000001a;
    border-radius: 5px;
    transition: 0.5s ease;
}
.open-case-thumbnail:hover{
    transform: scale(1.05);
}
.open-case-sim-doc, .file-resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.open-case-similares{
    display: flex;
    flex-wrap: wrap;

}
.open-case-similares, .similares-container, .open-case-precedents{
    width: 100%;
}
.open-case-similares-result{
    padding-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.similares-header{
    text-align: center;
}
.similares-docs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-block-open-case{
    display: flex;
}
.side-bar{
    position: sticky;
    /*border-right: 1px solid #7e7e7e45;*/
    height: calc(100vh - 4rem);
    top: 4rem;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(82,63,105,0.08);
    box-shadow: 0px 0px 28px 0px rgba(82,63,105,0.08);
}
.side-bar-items{
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}
.side-panel{
    padding-left: 0;
}
.side-button{
    padding: 10px 0;
    display: flex;
    align-items: center;
    color: #313752;
    transition: color 0.3s;
}
.side-button__description, .side-button:hover{
    font-weight: 500;
}
.side-button:hover{
    color: #5d78ff;
}
.side-button-icon{
    display: inline-block;
    min-width: 2.75rem;
    font-size: 1.0625rem;
    line-height: 1.40625rem;
    font-weight: 400;
}

.wrap {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: white;
    /*transform: translate(-50%, -50%);*/
}
.carregando{
    max-height: 100vh;
}
.filters{
    padding-top: 10px;
}
.text {
    color: #fbae17;
    display: inline-block;
    margin-left: 5px;
}
.loading{
    position: absolute;
    top: 50%;
    left: 43%;
}
.bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: 15px;
}
.bounceball::before{
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
}

@keyframes bounce {
    0% {
        top: 30px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        transform: scaleX(2);
    }
    35% {
        height: 15px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100% {
        top: 0;
    }
}

.offcanvas-panel{
    z-index: 1001;
    position: fixed;
    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: 425px !important;
    -webkit-transition: left 0.3s ease,right 0.3s ease;
    transition: left 0.3s ease,right 0.3s ease;
    right: -445px;
}

.offcanvas-panel{
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(82,63,105,0.13);
    box-shadow: 0px 0px 28px 0px rgba(82,63,105,0.13);
    height: 100vh;
}

.offcanvas-panel--on {
    -webkit-transition: left 0.3s ease, right 0.3s ease;
    transition: left 0.3s ease, right 0.3s ease;
    right: 0;
}
.offcanvas-panel_header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.5rem;
}
.offcanvas-panel_body{
    position: relative;
    height: calc(100vh - 3rem);
    padding: 0 0.5rem 1rem 0.5rem;
}
.offcanvas-panel-close{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: #f7f8fa;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
}
.offcanvas-close-icon{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 0.8rem;
    color: #a1a8c3;
}
.offcanvas-panel__title{
    font-size: 1.4rem;
    font-weight: 500;
    color: #3d4465;
    margin: 0;
    padding: 0;
}
.panel-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.panel-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(50% - 3px);
    min-height: 180px;
    border-radius: 6px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
    background: #f7f8fa;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 1px;
    text-align: center;
    overflow: hidden;
}
.panel-item__link{
    width: 100%;
}
.mini-thumb{
    width: 150px;
}
.btn-primary{
    background-color: #3975fd;
    border-color: #3975fd;
}
.btn-primary:hover{
    background-color: #0d4cff;
    border-color: #0d4cff;
}
.btn-primary:active{
    background-color: #0d20ff;
    border-color: #0d20ff;
}
.js-doc-resumo{
    margin-bottom: 5px;
}
/*


        PERFIL


 */
.main-block{
    padding: 25px;
    background-color: #f2f3f8;
    min-height: calc(100vh - 4rem);
}
.profile-portlet{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05);
    box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05);
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 4px;
}
.profile__content{
    padding: 2rem;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ebedf2;
}
.profile__main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #ebedf2;
}
.profile__main-info{
    margin: 1.5rem 0;
}
.profile__main-info-name{
    font-size: 1.5rem;
    font-weight: 600;
    color: #464457;
}
.profile__main-info-position{
    font-weight: 500;
    color: #b2afc6;
}
.profile__contact{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-right: 1px solid #ebedf2;
}
.profile__contact-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
}
.profile__contact-item:hover{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.profile__contact-item:hover .profile__contact-item-text{
    color: #3699ff;
}
.profile__contact-item-text{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 500;
    padding-left: 1.5rem;
    padding-bottom: 0.15rem;
    color: #b2afc6;
}
.profile__contact-item-icon{
    color: #fd397a !important;
}
.profile__nav{
    padding: 0 2rem;
}
.profile__nav .nav.nav-tabs.nav-tabs-line{
    border-bottom: 1px solid transparent !important;
    margin-bottom: 0;
}
.nav.nav-tabs.nav-tabs-line{
    margin: 0 0 25px 0;
}
.nav.nav-tabs.nav-tabs-line::before, .nav.nav-tabs.nav-tabs-line::after{
    content: " ";
    display: table;
}
.nav.nav-tabs.nav-tabs-line::after{
    clear: both;
}
.nav.nav-tabs.nav-tabs-line .nav-item{
    margin-right: 4rem;
    margin-bottom: -1px;
}
.nav.nav-tabs.nav-tabs-line .nav-item a.nav-link.active, .nav.nav-tabs.nav-tabs-line .nav-item a.nav-link:hover{
    background: transparent;
    color: #646c9a;
    border-bottom: 1px solid #5d78ff;
}
.nav.nav-tabs.nav-tabs-line .nav-item a.nav-link:hover,
.nav.nav-tabs.nav-tabs-line .nav-item a.nav-link.active,
.nav.nav-tabs.nav-tabs-line .nav-item a.nav-link.active:hover{
    transition: all 0.3s;
    color: #3699ff !important;
    border-bottom-width: 2px;
}
.nav.nav-tabs.nav-tabs-line .nav-item a.nav-link{
    padding: 1.5rem 0;
    font-weight: 500;
    font-size: 1.1rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.nav-tabs-line .nav-item a.nav-link{
    background: transparent;
    color: #646c9a;
}
.nav-tabs.nav-tabs-line .nav-link{
    border: 0;
    border-bottom: 1px solid transparent;
    padding: 12px 0;
    font-size: 1rem;
    font-weight: 400;
}

.profile-portlet__body-fit{
    padding: 0 !important;
}
.profile-portlet__body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 25px;
    border-radius: 4px;
}
.ji-nav{
    display: block;
    padding: 0.5rem 0;
    margin: 20px 0;
    list-style: none;
    border: 0;
}
.ji-nav .ji-nav__item{
    margin: 0;
    width: 100%;
}
.ji-nav .ji-nav__item .ji-nav__link{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.55rem 1.75rem;
    cursor: pointer;
}
.ji-nav .ji-nav__item .ji-nav__link.active{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #f7f8fa;
    border-left: 2px solid #5d78ff;
}
.ji-nav .ji-nav__item .ji-nav__link{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-left: 2px solid transparent;
}
.ji-nav .ji-nav__item .ji-nav__link .ji-nav__link-icon{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    font-size: 1.25rem;
    line-height: 0;
    color: #c5cbe3;
}
.ji-nav .ji-nav__item .ji-nav__link.active .ji-nav__link-text{
    color: #5d78ff;
}
.ji-nav .ji-nav__item .ji-nav__link .ji-nav__link-text{
    color: #646c9a;
    font-weight: 500;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 1rem;
}
.ji-nav__item:hover:not(.ji-nav__item--disabled){
    background-color: #f7f8fa;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.ji-nav__item:hover:not(.ji-nav__item--disabled) .ji-nav__link .ji-nav__link-icon,
.ji-nav__item:hover:not(.ji-nav__item--disabled) .ji-nav__link .ji-nav__link-text{
    color: #5d78ff;
}

.ji-portlet__head{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    padding: 0 25px;
    border-bottom: 1px solid #ebedf2;
    min-height: 60px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: left 0.3s, right 0.3s, height 0.3s;
}
.ji-portlet__head .ji-portlet__head-label{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: flex-first;
}
.ji-portlet__head .ji-portlet__head-label .ji-portlet__head-label-title{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: #3d4465;
}
.ji-portlet__head .ji-portlet__head-label .ji-portlet__head-label-title small {
    font-weight: 300;
    padding-left: 0.5rem;
    font-size: 1rem;
    color: #a1a8c3;
}
.ji-form__body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 25px;
    border-radius: 4px;
}
.ji-form__foot{
    padding: 25px;
    border-top: 1px solid #ebedf2;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.ji-form-section{
    padding: 0;
    margin: 0;
}
.form-group label{
    font-size: 1rem;
    font-weight: 400;
    color: #646c9a;
}
.col-form-label{
    padding-top: calc(.65rem + 1px);
    padding-bottom: calc(.65rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
a, a:hover{
    text-decoration: none !important;
}
.btn-success{
    color: #fff;
    background-color: #1dc9b7;
    border-color: #1dc9b7;
}
.btn-success:hover{
    color: #fff;
    background-color: #18a899;
    border-color: #179c8e;
}
.btn-secondary{
    background-color: transparent;
    border: 1px solid #e2e5ec;
    color: #646c9a;
}
.btn-secondary:hover{
    color: #646c9a;
    border-color: #e2e5ec !important;
    background-color: #f4f5f8 !important;
}
.btn-danger{
    color: #fff;
    background-color: #fd397a;
    border-color: #fd397a;
}
.btn-danger:hover{
    background-color: #fd1361;
    border-color: #fc0758;
}
.error-field input{
    border-color: #dc3545;
}
.temas-form-actions{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
@media (min-width: 1025px){
    form label{
        text-align: right;
    }
}