{% comment %} Criação automática de cartões baseada nos parâmetros {% endcomment %}
{% for id, value in parameters %}
    <div class="cases-card col-12 col-md-4">
        <div class="card card-container">
            <div class="card-container-header">
                <div class="card-title">{{ value|first }}</div>
                <i class="fas fa-times card-remove-button js-remove" data-url="{% url 'conteudo:card_delete' id %}"></i>
            </div>
            <div class="card-body content-of-card">
                <div class="inside-card" data-url="{% url 'conteudo:open-case' id%}">
                    <p class="card-resumo">{{ value|last }}
                    </p>
                </div>
                <div class="action-buttons">
                    {#                    {% if campo.editable %}#}
                    <button type="button" class="button button-icon button-icon__actions js-card-update"
                            data-url="{% url 'conteudo:card_update' id %}" title="Editar conteúdo do cartão">
                        <i class="fas fa-pen"></i>
                    </button>
                    {#                    {% endif %}#}
                    {#                    <a href="#" class="button button-icon button-icon__actions js-card-share"#}
                    {#                       data-url="{% url 'content:card_share' id %}" title="Compartilhar">#}
                    {#                        <i class="fas fa-share-alt"></i>#}
                    {#                    </a>#}
                    <a class="button button-icon button-icon__actions" data-toggle="tolltip"
                       data-placement="top" title="Adicionar documentos ao processo"
                       href="{% url "conteudo:add-documento" id %}">
                        <i class="fas fa-paperclip"></i>
                    </a>
                </div>
            </div>
            <div class="card-tags">
                {% for idT, v in tags %}
                    {% if idT == id %}
                        <span class="badge badge-pill badge-danger tag">{{ v|first }}</span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}