{% comment %} Criação automática de cartões baseada nos parâmetros {% endcomment %}
{% for id, v in parameters %}
    <div class="cases-card col-12 col-md-4">
        <div class="card card-container">
            <div class="card-container-header">
                {% if v.tema %}
                    <div class="card-title">{{ v.titulo }} - <a href="{% url 'conteudo:open-tema' id %}">Abrir</a></div>
                {% else %}
                    <div class="card-title">{{ v.titulo }} - <a href="{% url 'conteudo:open-case' id %}">Abrir</a></div>
                {% endif %}
                {% if v.possible_edit %}
                    <i class="fas fa-times card-remove-button js-remove" data-url="{% url 'conteudo:card_delete' id %}"></i>
                {% endif %}
            </div>
            <div class="card-body content-of-card">
                {% if v.tema %}
                    <div class="inside-card" data-url="{% url 'conteudo:open-tema' id%}">
                {% else %}
                    <div class="inside-card" data-url="{% url 'conteudo:open-case' id%}">
                {% endif %}
                        <p class="card-resumo">{{ v.resumo }}
                    {% if v.fit %}
                            <strong>Ver mais</strong>
                    {% endif %}
                        </p>
                    </div>
                <div class="action-buttons">
                    {% if v.possible_edit %}
                        <button type="button" class="button button-icon button-icon__actions js-card-update"
                                data-url="{% url 'conteudo:card_update' id %}" title="Editar conteúdo do cartão">
                            <i class="fas fa-pen"></i>
                        </button>
                        <a class="button button-icon button-icon__actions js-add-docs" data-toggle="tolltip"
                           data-placement="top" title="Adicionar documentos ao processo"
                           href="{% url "conteudo:add-documento" id %}">
                            <i class="fas fa-paperclip"></i>
                        </a>
                        <a href="#" class="button button-icon button-icon__actions js-add-tags" data-toggle="tolltip"
                           data-placement="top" title="Adicionar tags" data-url="{% url 'conteudo:add_card_tags' id %}">
                            <i class="fas fa-tag"></i>
                        </a>
                    {% endif %}
                </div>
                </div>
                <div class="card-tags">
                    {% for idT, v in tags %}
                        {% if idT == id %}
                            <span class="badge badge-pill badge-danger tag">{{ v|first }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
{% endfor %}