{% load staticfiles %}
{% for id, doc in documentos %}
    <div class="panel-item">
        <a class="panel-item__link" href="{{ doc.file_url }}" target="_blank">
            {% if doc.file.thumbnail == 'docx' %}
                <img class="mini-thumb" src="https://jurisintel-aws.s3.us-east-2.amazonaws.com/static/img/docx-file.jpg" alt="Thumbnail">
            {% else %}
                <img class="mini-thumb" src="{{ doc.file_thumbnail }}" alt="Thumbnail">
            {% endif %}

            <small>{{ doc.file_name }}</small>
        </a>
        <button type="button" class="btn btn-primary btn-sm js-doc-resumo" data-doc="{{ doc.file_name }}"
                data-text="{{ doc.file_resumo }}">
            Resumo
        </button>
        <button type="button" class="btn btn-danger btn-sm js-remover-arquivo"
                data-url="{% url 'conteudo:remover_arquivo' doc.file_id %}" data-data="{{ csrf_token }}"
                data-find="{{ pk }}">
            Remover
        </button>
    </div>
{% endfor %}