{% load staticfiles %}

<div class="open-case-similares">
    <div class="similares-container">
        <div class="similares-header">
            <h6>Selecione <strong>UM</strong> documento abaixo para verificar semelhantes no seu acervo:</h6>
        </div>
        <div class="similares-docs">
            {% for k, v in documentos %}
                <div class="open-case-sim-doc">
                    <img class="open-case-thumbnail" src="{{ v.file_thumbnail }}" alt="Thumbnail"
                         id="{{ v.file_name }}_{{ forloop.counter0 }}" data-file="{{ v.file_id }}" data-csrf="{{ csrf_token }}"
                         data-url="{% url 'conteudo:similarities' pk %}">
                    {{ file }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="open-case-similares-result"></div>
</div>

<script>
    $('.open-case-thumbnail').click(function (e) {
        let filePk = $(this).data('file');
        let url = $(this).data('url');
        let csrf = $(this).data('csrf');
        $.ajax({
            url: url,
            data: {
                csrfmiddlewaretoken: csrf,
                file: filePk,
            },
            method: 'post',
            dataType: 'json',
            success: function (response) {
                $('.open-case-similares-result').html(response['html_resultado'])
            },
        });
    });


    $(document).ajaxStart(function () {
        $('#loading').show();
        $('body').addClass('carregando');
    });

    $(document).ajaxStop(function () {
        $('#loading').hide();
        $('body').removeClass('carregando');
    })
</script>