{% load staticfiles %}
<div class="open-case-similares">
    <h6>Selecione <strong>UM</strong> documento abaixo para verificar semelhantes na sua base de dados:</h6>
    {% for file, values in docs %}
    <div class="open-case-sim-doc">
        <img class="open-case-thumbnail" src="{{ values|first }}" alt="Thumbnail"
             id="{{ file }}_{{ forloop.counter0 }}" data-file="{{ values|last }}" data-csrf="{{ csrf_token }}"
        data-url="{% url 'conteudo:similarities' pk %}">
        {{ file }}
    </div>
    {% endfor %}
    <div class="open-case-similares-result"></div>
</div>

<script>
    $('.open-case-thumbnail').click(function (e) {
        let filePk = $(this).data('file');
        let url = $(this).data('url');
        let csrf = $(this).data('csrf');
        $.ajax({
            url: url,
            data: {
                csrfmiddlewaretoken: csrf,
                file: filePk,
            },
            method: 'post',
            dataType: 'json',
            success: function (response) {
                $('.open-case-similares-result').html(response['html_resultado'])
            }
        });
    });

    $(document).ajaxStart(function () {
        $('#loading').show();
        $('body').addClass('carregando');
    });

    $(document).ajaxStop(function () {
        $('#loading').hide();
        $('body').removeClass('carregando');
    })
</script>