{% load staticfiles %}

<div class="open-case-similares">
    <div class="similares-container">
        <div class="similares-header">
            <h6>Selecione <strong>UM</strong> documento abaixo para verificar semelhantes no seu acervo:</h6>
        </div>
        <div class="similares-docs">
            {% include 'conteudo/includes/similares_docs_list.html' %}
        </div>
    </div>
    <div class="open-case-similares-result"></div>
</div>

<script>
    $('.open-case-thumbnail').click(function (e) {
        let filePk = $(this).data('file');
        let url = $(this).data('url');
        let csrf = $(this).data('csrf');
        $.ajax({
            url: url,
            data: {
                csrfmiddlewaretoken: csrf,
                file: filePk,
            },
            method: 'post',
            dataType: 'json',
            success: function (response) {
                $('.open-case-similares-result').html(response['html_resultado'])
            },
        });

        let idParent = $(this).parent().attr('id');
        $.each($(this).parent().parent().children(), (index, value) => {
            if ($(value).attr('id') !== idParent){
                $(value).hide()
            }
        });
    });


    $(document).ajaxStart(function () {
        $('#loading').show();
        $('body').addClass('carregando');
    });

    $(document).ajaxStop(function () {
        $('#loading').hide();
        $('body').removeClass('carregando');
    })
</script>