{% extends 'conteudo/base_conteudo.html' %}
{% load staticfiles %}
{% block title %}JurisIntel - Criação de caso{% endblock title %}
{% block styles %}
    <style>
        input[type=checkbox] {display:none;}
        span.tag-add{
            background-color: #dc3545;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
            border: 1px solid #dc3545ad;
            font-weight:600;
            color:#FFF;
            font-size:.85em;
            letter-spacing: .5px;
            text-decoration:none;
            font-family:sans-serif;
            text-align:center;
            padding: 3px 10px;
            cursor:pointer;
            display:block;
            margin: 0 auto;
            -webkit-transition:background-color 150ms ease-in;
            -moz-transition:background-color 150ms ease-in;
            -ms-transition:background-color 150ms ease-in;
            -o-transition:background-color 150ms ease-in;
            transition:background-color 150ms ease-in;
        }
        input[type=checkbox]:checked + span {
            background-color: #28a745;
            color: white;
            text-decoration:none;
            -webkit-border-radius:80px;
            -moz-border-radius:80px;
            border-radius:80px;
            border: 1px solid #28a745ad;
        }

        span:hover {
            border: 1px solid #28a745ad;
            background-color: #28a745;
            color: rgba(255,255,255,.65);
        }

        input[type=checkbox]:checked:hover + span {
            background-color: #dc3545;
            color: rgba(255,255,255,.65);
            border: 1px solid #dc3545ad;
            text-decoration: none;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
        }

        .add-card-tags{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .col-4.side-bar{
            display: flex;
            flex-direction: column;
            align-items: start;
            max-height: calc(100vh - 4rem);
            padding: 15px 15px 0 15px;
            background-color: #f1f3f4;
        }
        .main-panel{
            min-height: calc(100vh - 4rem);
        }
        .form-side-bar{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
        }
        .main-div{
            display: flex;
            flex-direction: column;
            padding: 15px 15px 0 15px;
        }
        .thumbnail-img{
            width: 200px;
            box-shadow: 1px -2px 20px #0000004a;
        }
        .doc-brief-container{
            display: flex;
            flex-direction: row;
            padding: 10px 0 50px 0;
        }
        .doc-brief-container::before {
            content: '';
            position: absolute;
            top: 21em;
            left: 75px;
            right: 30px;
            height: 1px;
            background: #0000001f;
        }
        .doc-brief-name{
            padding-top: 5px;
        }
    </style>
{% endblock styles %}
{% block navitems %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'conteudo:home' %}">Home </a>
    </li>
    {% if user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
    {% endif %}
{% endblock %}
{% block sections %}
    <section class="main-panel d-flex flex-row">
        <div class="col-4 side-bar">
            <form action="{% url 'conteudo:criar' %}" method='post' class="form-side-bar">
                {% csrf_token %}
                <div class="side-bar add-card-title">
                    <div class="form-group">
                        {% comment %} Ajustar nomenclatura {% endcomment %}
                        <label for="tituloAddCard">Título do caso</label>
                        <input type="text" class="form-control" name="tituloAddCard" id="tituloAddCard" aria-describedby="tituloAddCardHelp" placeholder="Insira aqui o título do seu caso">
                        <small id="tituloAddCardHelp" class="form-text text-muted">O título aparecerá na parte superior do caso.</small>
                    </div>
                </div>
                <div class="side-bar add-card-description">
                    <div class="form-group">
                        {% comment %} Ajustar nomenclatura{% endcomment %}
                        <label for="descriptionAddCard">Descrição do caso</label>
                        <textarea class="form-control" name="descriptionAddCard" id="descriptionAddCard" rows="3" placeholder="Insira aqui uma descrição sobre o seu caso. Exemplo: Trata-se de previsão de cobrança de ICMS sobre mercadoria importada."></textarea>
                    </div>
                </div>
                <h6>Selecione suas tags:</h6>
                <div class="side-bar add-card-tags">
                    <div class="side-bar add-card-tags">
                        <div id='id_tag'>
                            {% for k, v in tags_list %}
                                <label class="ml-1">
                                    <input type="checkbox" name="tag" value="{{ k }}" id="id_tag_{{ forloop.counter0 }}">
                                    <span class="tag-add">{{ v.tag }}</span>
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <input type='text' hidden name="case_id" value="{{ pre_case_id }}">
                <div class="side-bar add-card-submit-button mt-auto">
                    {% comment %} Ajustar nomenclatura{% endcomment %}
                    <button type="submit" class="btn btn-success btn-block">Criar caso</button>
                </div>
            </form>
        </div>

        <div class="col-8 main-div">
            {% for item, values in files %}
                <div class="doc-brief-container">
                    <div class="col-4 d-flex flex-column align-items-center">
                        <img class="thumbnail-img" src="{{ values|first }} " alt="{{ item }}">
                        <h6 class="doc-brief-name">{{ item }}</h6>
                    </div>
                    <div class="col-8">
                        {{ values|last }}
                    </div>
                </div>

            {% endfor %}
        </div>
    </section>
{% endblock sections %}