{% extends 'conteudo/base_conteudo.html' %}
{% load staticfiles %}
{% block title %}JurisIntel - Início{% endblock title %}
{% block styles %}
    <style>
        .navbar-light{
            position: sticky;
            top: 0;
            z-index: 999;
            background-color: #fff !important;
            -webkit-box-shadow: 0px 0px 40px 0px rgba(82,63,105,0.1);
            box-shadow: 0px 0px 40px 0px rgba(82,63,105,0.1);
            border: 0;
        }
        .nav-item{
            margin-right: 5px;
        }
        .nav-item.active .nav-link{
            color: #5d78ff !important;
            background-color: #f0f3ff;
            border-radius: 4px;
        }
        .nav-item .nav-link{
            color: #6c7293 !important;
            font-weight: 500;
            transition: color, background-color 0.3s;
        }
        .nav-link:hover{
            color: #5d78ff !important;
            background-color: #f0f3ff;
            border-radius: 4px;
        }
        .temas{
            background-color: #f2f3f8;
        }
        .section-title{
            padding: 2rem 3rem 1rem 3rem;
        }
        .section-container{
            display: flex;
            padding: 0 3rem 3rem 3rem;
        }
        .card-container{
            max-height: 19rem;
            height: 18rem;
            border: 0;
            box-shadow: #0000001a 0 1px 20px 5px;
            cursor: pointer;
            transition: 0.5s ease;
            overflow-y: hidden;
        }
        .card-container:hover{
            transform: scale(1.05);
        }
        .card-container-header{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
        }
        .inside-card{
            max-height: 10em !important;
            margin-bottom: 1rem;
            overflow-y: hidden;
            width: 100%;
        }
        p.card-resumo{
            font-size: 10pt;
            text-align: justify;
            margin: 0;
        }
        .card-title{
            padding: 1em 1em 0 1em;
            font-weight: 700;
        }
        .card-tags{
            display: flex;
            flex-wrap: wrap;
            padding: 0 1em 1em 1em;
        }
        .tag{
            margin-left: 4px;
            margin-bottom: 2px;
        }
        .card-add-casos-container{
            border: 2px;
            border-style: dashed;
            border-color: #28a745ad;
        }
        .inside-add-card{
            text-align: center;
        }
        .form-add-files{
            width: 60%;
        }
        .add-case-container{
            padding: 2em;
        }
        .add-card-plus{
            font-size: 40pt;
            margin: 0;
            color: #28a745;
        }
        .cases-section-container{
            padding: 1rem 3rem 3rem 3rem;
            flex-wrap: wrap;
        }
        .cases-card{
            margin-top: 30px;
        }
        .card-remove-button{
            cursor: pointer;
            z-index: 10;
            margin-right: 23px;
        }
        .search-bar{
            width: 45rem !important;
        }
        .drop-zone{
            padding-top: 1rem;
            padding-bottom: 1rem;
            border: 2px dashed #1a7af3;
            width: 60%;
            border-radius: 0.5rem;
            cursor: pointer;
        }
        .thumbnail{
            width: 100px;
            cursor: pointer;
        }
        .progress-resumo, .progress-thumbnails{
            padding-top: 5px;
            display: none;
        }
        .button-icon{
            padding: 0;
            width: 15px;
            text-align: center;
            background: none;
            border: none;
            font-size: 14px;
            text-decoration: none;
        }
        .action-buttons {
            float: right;
            display: inline-flex;
            flex: 1;
            flex-direction: column;
            vertical-align: middle;
            align-items: flex-start;
            z-index: 999;
            padding-left: 10px;
        }
        .content-of-card{
            display: flex;
            flex-direction: row;
            padding-bottom: 0;
        }
        .card-remove-button {
            color: #5f5f5f;
        }
        a.button.button-icon.button-icon__actions, .button-icon, .button-icon__actions{
            box-shadow: 1px 1px 5px #fa3232c9;
            background-color: #fa3232;
            width: 20px;
            border-radius: 3px;
            margin-bottom: 10px;
            border: 0;
            color: white;
        }
        .mySkip{
            width: 180px !important;
        }
        .upload-error-list {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            transition: 0.5s ease-in;
        }
        .error-file{
            color: red;
        }

    </style>
{% endblock styles %}
{% block navitems %}
    <li class="nav-item active">
        <a class="nav-link" href="#">Início <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link perfil-link" href="{% url 'accounts:perfil' %}">Perfil </a>
    </li>
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Sair </a>
        </li>
    {% endif %}
    {% if user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
    {% endif %}
{% endblock navitems %}
{% block sections %}
    {% if not user.profile.first_login_step %}
        <input class="onb_first_step" type="hidden" data-run="true" data-mode="1" data-url="{% url 'accounts:onboard_first_step' 1 %}"
               data-data="{{ csrf_token }}">
    {% elif user.profile.first_login_step and not user.profile.first_case_step %}
        <input class="onb_first_step" type="hidden" data-run="true" data-mode="2" data-url="{% url 'accounts:onboard_first_step' 2 %}"
               data-data="{{ csrf_token }}">
    {% endif %}
    <!-- Main Panel -->
{#    <section class="temas">#}
{#        <div class="section-title">#}
{#            <div class="d-flex flex-row justify-content-between">#}
{#                <h5>Temas</h5>#}
{#                <button class="btn toggle-temas" data-toggle="collapse" data-target="#temasCollapse" aria-expanded="false" aria-controls="temasCollapse">#}
{#                    <i class="fas fa-chevron-circle-up icon"></i>#}
{#                </button>#}
{#            </div>#}
{##}
{#        </div>#}
{#        {% if themes %}#}
{#            <div class="col-12 section-container collapse show" aria-labelledby="headingOne" id="temasCollapse">#}
{#                {% include 'conteudo/includes/cards.html' with parameters=themes %}#}
{#            </div>#}
{#        {% else %}#}
{#            <div class="col-12 section-container collapse show" style="justify-content: center;" aria-labelledby="headingOne" id="temasCollapse">#}
{#                <h6>Você não escolheu os temas para serem acompanhados ainda, na aba <strong>PERFIL</strong> é possível fazê-lo.</h6>#}
{#            </div>#}
{#        {% endif %}#}
{##}
{#    </section>#}
    <section class="add-case">
        <div class="d-flex flex-column justify-content-center align-items-center add-case-container">
            <div class="text-muted text-center drop-zone js-upload">
                <i class="fas fa-cloud-upload-alt" style="font-size: 1rem;"></i>
                <h6>Arraste arquivos de um <strong>NOVO</strong> caso/processo aqui. Apenas PDF máx. 5MB</h6>
            </div>
            <input id="fileupload" type="file" name="files" multiple
                   style="display: none;"
                   data-url="{% url 'conteudo:upload' %}"
                   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
            <form action="{% url 'conteudo:file-upload' %}" method='post' id="form-files">
                {% csrf_token %}
                <input type="text" name="file-list-id" id="files-id" style="display:none;" value="">
            </form>
        </div>
    </section>
    <section class="casos">
        <div class="section-title">
            <h5>Meus casos</h5>
        </div>
        <div class="d-flex col-12 cases-section-container">
            {% include 'conteudo/includes/cards.html'%}
        </div>
    </section>
    <div class="modal" id="modal-progress" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Enviando...</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                    </div>
                    <div class="upload-error-list" style="display: none;">
                        <small>Estes arquivos são maiores que o tamanho permitido (5 MB):</small>
                    </div>
                    <div class="progress-thumbnails">
                        <small>- Encriptando e protegendo arquivo(s)... <i class="fas fa-spinner fa-pulse"></i></small>
                    </div>
                    <div class="progress-resumo">
                        <small>- Por gentileza, aguarde um momento enquanto os resumos são gerados... <i class="fas fa-spinner fa-pulse"></i></small>
                    </div>
                </div>
                <div class="modal-footer" style="display: none;">
                    <small>O envio falhou, feche e tente novamente.</small>
                    <button class="btn btn-danger modal-close">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade mt-5 modal-processos">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock sections %}

{% block scripts %}
    <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
    <script>
        $(document).ready(function() {

            let openCase = function(){
                let url = $(this).data('url');
                window.open(url, '_blank');
            };
            $('.casos').on("click", '.inside-card', openCase);

            let temasCollapse = $('#temasCollapse');

            temasCollapse.on('hidden.bs.collapse', function () {
                let btnIcon = $('.icon');
                btnIcon.removeClass('fas fa-chevron-circle-up');
                btnIcon.addClass('fas fa-chevron-circle-down');
            });

            temasCollapse.on('show.bs.collapse', function () {
                let btnIcon = $('.icon');
                btnIcon.removeClass('fas fa-chevron-circle-down');
                btnIcon.addClass('fas fa-chevron-circle-up');
            });

            $('.modal-close').click(function (e) {
                $('#modal-progress').modal('hide');
                location.reload();
            });

            $(".js-upload").on('click', function () {
                $('#fileupload').trigger('click');
            });

            /* 2. INITIALIZE THE FILE UPLOAD COMPONENT */
            $("#fileupload").fileupload({
                dataType: 'json',
                start: function(e){
                    $("#modal-progress").modal("show");
                },
                stop: function(e){
                    {#$("#modal-progress").modal("hide");#}
                    if ($('#files-id').attr('value').length !== 0){
                        $('#form-files').trigger('submit');
                        $(".progress-resumo").show();
                    }
                },
                progressall: function(e, data){
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    var strProgress = progress + "%";
                    $(".progress-bar").css({"width": strProgress});
                    $(".progress-bar").text(strProgress);
                    if (progress === 100){
                        if ($('#files-id').attr('value').length !== 0){
                            $('.progress-thumbnails').show();
                        }
                    }
                },
                done: function (e, data) {  /* 3. PROCESS THE RESPONSE FROM THE SERVER */
                    if (data.result.is_valid) {
                        let preSet = $('#files-id').attr('value');
                        $('#files-id').attr('value', preSet + data.result.file_id + ';');
                    }
                    else{
                        $('.modal-close').parent('.modal-footer').show();
                    }
                    if (data.result.file_error.length !== 0){
                        $('.upload-error-list').show();
                        for (let i=0; i < data.result.file_error.length; i++){
                            let listItemSmall = document.createElement('small');
                            $(listItemSmall).addClass('error-file');
                            $(listItemSmall).text('- ' + data.result.file_error[i][0] + ' | ' + data.result.file_error[i][1]);
                            $('.upload-error-list').append(listItemSmall);
                        }
                    }
                }
            });

            if ($('.onb_first_step').data('run') === true && $('.onb_first_step').data('mode') === 1){

                let firstStepClose = function (){
                    $.ajax({
                        url: $('.onb_first_step').data('url'),
                        data: {
                            'csrfmiddlewaretoken': $('.onb_first_step').data('data')
                        },
                        method: 'post',
                        success: function (response) {
                            console.log(response);
                        }
                    })
                };

                let intro = introJs();
                intro.onexit(firstStepClose);
                intro.oncomplete(firstStepClose);
                intro.setOptions({
                    steps: [
                        {
                            element: '.add-case-container .drop-zone',
                            intro: 'Clique aqui ou arraste documentos PDF para gerar o caso/processo',
                            position: 'right'
                        },
                    ],
                    nextLabel: 'Continuar',
                    prevLabel: 'Voltar',
                    skipLabel: 'Fim',
                    doneLabel: 'Fim',
                    hidePrev: true,
                    exitOnEsc: true,
                    exitOnOverlayClick: false,
                    disableInteractions: true
                });
                intro.start();

            }
            else if ($('.onb_first_step').data('run') === true && $('.onb_first_step').data('mode') === 2) {
                let firstStepClose = function (){
                    $.ajax({
                        url: $('.onb_first_step').data('url'),
                        data: {
                            'csrfmiddlewaretoken': $('.onb_first_step').data('data')
                        },
                        method: 'post',
                        success: function (response) {
                            console.log(response);
                        }
                    })
                };

                let intro = introJs();
                intro.onexit(firstStepClose);
                intro.oncomplete(firstStepClose);
                intro.setOptions({
                    steps: [
                        {
                            element: '.cases-section-container .cases-card .card .card-body .inside-card',
                            intro: 'Ao clicar aqui você abre o conteudo do caso/processo',
                            position: 'right'
                        },
                        {
                            element: '.card-container-header',
                            intro: 'Ao clicar aqui no X você remove o caso/processo e todo seu conteúdo. É irreversível!',
                            position: 'right'
                        },
                        {
                            element: '.js-card-update',
                            intro: 'Aqui você atualiza o caso/processo',
                            position: 'right'
                        },
                        {
                            element: '.js-add-docs',
                            intro: 'Aqui você pode adicionar documentos ao caso/processo já criado',
                            position: 'right'
                        },
                        {
                            element: '.js-add-tags',
                            intro: 'Aqui você adiciona novas tags',
                            position: 'right'
                        },
                    ],
                    nextLabel: 'Continuar',
                    prevLabel: 'Voltar',
                    skipLabel: 'Fim',
                    doneLabel: 'Fim',
                    hidePrev: true,
                    exitOnEsc: true,
                    exitOnOverlayClick: false,
                    disableInteractions: true
                });
                intro.start();
            }

        });

        $(function () {

            let mainPanel = $('.cases-section-container');
            let modalProcessos = $('.modal-processos');

            /* Functions */
            var loadForm = function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr('data-url'),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $('.modal-processos').modal('show');
                    },
                    success: function (data) {
                        $('.modal-processos .modal-content').html(data.html_form);
                    },
                    error: function (xhr){
                        console.log(xhr.status);
                        console.log(xhr.statusText);
                        console.log(xhr.responseText);
                    }
                });
            };

            var saveForm = function () {
                var form = $(this);
                $.ajax({
                    url: form.attr('action'),
                    data: form.serialize(),
                    type: form.attr('method'),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            $('.modal-processos').modal("hide");
                            mainPanel.html(data.html_response);
                        }
                        else {
                            $(".modal-processos .modal-content").html(data.html_form);
                        }
                    }
                });
                return false;
            };

            mainPanel.on("click", '.js-card-update', loadForm);
            modalProcessos.on('submit', '.js-process-update-form', saveForm);

            mainPanel.on("click", '.js-remove', loadForm);
            modalProcessos.on('submit', '.js-process-delete-form', saveForm);

            mainPanel.on("click", '.js-add-tags', loadForm);
            modalProcessos.on('submit', '.js-add-tags-form', saveForm);

        });
    </script>
{% endblock %}