{% extends 'conteudo/base_conteudo.html' %}
{% load staticfiles %}
{% block styles %}
    <style>
        .temas{
            background-color: #f1f3f4;
        }
        .section-title{
            padding: 3rem 3rem 0 3rem;
        }
        .section-container{
            padding: 1rem 3rem 3rem 3rem;
        }
        .card-container{
            max-height: 15em;
            border: 0;
            box-shadow: #0000001a 0 1px 20px 5px;
        }
        .inside-card{
            max-height: 10em !important;
            margin-bottom: 1em;
            overflow-y: hidden;
        }
        p.card-resumo{
            font-size: 10pt;
            text-align: justify;
        }
        .card-title{
            padding: 1em 1em 0 1em;
            font-weight: 700;
        }
        .card-tags{
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            padding: 0 1em 1em 1em;
        }
        .tag{
            margin-left: 4px;
        }
        .card-add-casos-container{
            border: 2px;
            border-style: dashed;
            border-color: #28a745ad;
        }
        .inside-add-card{
            text-align: center;
        }
        .form-add-files{
            width: 60%;
        }
        .add-case-container{
            margin-top: 2em;
        }
        .add-card-plus{
            font-size: 40pt;
            margin: 0;
            color: #28a745;
        }
        .cases-section-container{
            padding: 1rem 3rem 3rem 3rem;
            flex-wrap: wrap;
        }
        .cases-card{
            margin-top: 30px;
        }
        .card-remove-button{
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
        }
        .side-button-docs{
            padding: 30px 0 10px 0;
            position: absolute;
            right: 0;
        }
        .button-docs-text{
            padding: 8px;
            border: 1px solid #d1d1d1;
            border-radius: 8px;
        }
        .first-part{
            padding: 2em 0 0 0;
        }
        .main-panel{
            display: flex;
            flex-direction: row;
        }
        .main-panel-content {
            display: flex;
            flex-direction: column;
        }

        .open-case-header{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .open-case-content{
            display: flex;
            padding: 20px 50px;
            align-items: center;
            justify-content: center;
        }
        .open-case-precedents{
            width: 60%;
        }
        .no-precedents{
            text-align: center;
        }

        .precedents-card{

            border-radius: 5px;
            padding: 15px;
            margin-bottom: 2rem;
            max-height: 20rem;
            overflow-y: hidden;

            font-size: 10pt;
            text-align: justify;

            box-shadow: 0 0 5px 1px #0000004d;
        }
        .open-case-thumbnail{
            width: 200px;
            cursor: pointer;
            box-shadow: 0 1px 20px 5px #0000001a;
            border-radius: 5px;
        }
        .open-case-sim-doc{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .open-case-similares-result{
            padding-top: 3rem;
        }

        .wrap {
            display: none;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100vh;
            justify-content: center;
            background-color: white;
        {#transform: translate(-50%, -50%);#}
        }
        .carregando{
            max-height: 100vh;
        }
        .text {
            color: #fbae17;
            display: inline-block;
            margin-left: 5px;
        }
        .loading{
            position: absolute;
            top: 50%;
            left: 43%;
        }
        .bounceball {
            position: relative;
            display: inline-block;
            height: 37px;
            width: 15px;
        }
        .bounceball::before{
            position: absolute;
            content: '';
            display: block;
            top: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #fbae17;
            transform-origin: 50%;
            animation: bounce 500ms alternate infinite ease;
        }

        @keyframes bounce {
            0% {
                top: 30px;
                height: 5px;
                border-radius: 60px 60px 20px 20px;
                transform: scaleX(2);
            }
            35% {
                height: 15px;
                border-radius: 50%;
                transform: scaleX(1);
            }
            100% {
                top: 0;
            }
        }
    </style>
{% endblock styles %}
{% block sections %}
    <!-- Main Panel -->
    <section class="main-panel">
        <div class="open-case-header">
            <div class="first-part">
                <h5>{{ titulo }}</h5>
            </div>
            <div class="second-part">
                <p>{{ resumo }}</p>
            </div>
            <div class="filters">
                <a href="#ementas">Ementas</a> |
                <a href="{% url 'conteudo:similarities' pk %}" id="js-similar">Similares</a> |
                <a href="">Temas</a>
            </div>
        </div>
        <div class="side-button-docs">
            <span class="button-docs-text">Docs</span>
        </div>
    </section>
    <section class="main-panel-content">
        <div class="open-case-content">
            <div class="open-case-precedents">
                {% for ementa in ementas %}
                    <div class="precedents-card" id="js-preCard-{{ forloop.counter0 }}">
                        <p class="precedents-text" id="js-textCard-{{ forloop.counter0 }}">
                            {{ ementa }}
                        </p>
                    </div>
                {% empty %}
                    <div class="no-precedents">
                        <p>Não existem ementas registradas ainda.</p>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>

    <div class="wrap" id="loading">
        <div class="loading">
            <div class="bounceball"></div>
            <div class="text">BUSCANDO SIMILARES</div>
        </div>
    </div>
{% endblock sections %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('.precedents-text').click(function () {
                let size = $(this).height();
                let card = $(this).parent('.precedents-card');

                if (card.height() === size+10)
                    card.css('maxHeight', '20rem');
                else if (card.height() === '20rem')
                    card.css('maxHeight', size+10);
                else
                    console.log(card.height())
            });

            $('#js-similar').click(function (e) {
                e.preventDefault();
                let url = $(this).prop('href');
                $.ajax({
                    url: url,
                    method: 'get',
                    success: function(response){
                        console.log(response);
                        $('.open-case-content').empty();
                        $('.open-case-content').html(response['html_similares']);
                    }
                })
            });

        });
    </script>
{% endblock %}