{% extends 'conteudo/base_conteudo.html' %}
{% load staticfiles %}

{% block title %}JurisIntel - Perfil{% endblock title %}
{% block styles %}
    <style>
        .navbar-light{
            position: sticky;
            top: 0;
            z-index: 999;
            background-color: #fff !important;
            -webkit-box-shadow: 0px 0px 40px 0px rgba(82,63,105,0.1);
            box-shadow: 0px 0px 40px 0px rgba(82,63,105,0.1);
            border: 0;
        }
        .navbar-nav .nav-item{
            margin-right: 5px;
        }
        .navbar-nav .nav-item.active .nav-link{
            color: #5d78ff !important;
            background-color: #f0f3ff;
            border-radius: 4px;
        }
        .navbar-nav .nav-item .nav-link{
            color: #6c7293 !important;
            font-weight: 500;
            transition: color, background-color 0.3s;
        }
        .navbar-nav .nav-link:hover{
            color: #5d78ff !important;
            background-color: #f0f3ff;
            border-radius: 4px;
        }
        .main-block{
            padding: 25px;
            background-color: #f2f3f8;
            min-height: calc(100vh - 4rem);
        }
        .profile-portlet{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05);
            box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05);
            background-color: #fff;
            margin-bottom: 20px;
            border-radius: 4px;
        }
        .profile__content{
            padding: 2rem;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: #ebedf2;
        }
        .profile__main{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border-right: 1px solid #ebedf2;
        }
        .profile__main-info{
            margin: 1.5rem 0;
        }
        .profile__main-info-name{
            font-size: 1.5rem;
            font-weight: 600;
            color: #464457;
        }
        .profile__main-info-position{
            font-weight: 500;
            color: #b2afc6;
        }
        .profile__contact{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            border-right: 1px solid #ebedf2;
        }
        .profile__contact-item{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-bottom: 1rem;
        }
        .profile__contact-item:hover{
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        .profile__contact-item:hover .profile__contact-item-text{
            color: #3699ff;
        }
        .profile__contact-item-text{
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            font-weight: 500;
            padding-left: 1.5rem;
            padding-bottom: 0.15rem;
            color: #b2afc6;
        }
        .profile__contact-item-icon{
            color: #fd397a !important;
        }
        .profile__nav{
            padding: 0 2rem;
        }
        .profile__nav .nav.nav-tabs.nav-tabs-line{
            border-bottom: 1px solid transparent !important;
            margin-bottom: 0;
        }
        .nav.nav-tabs.nav-tabs-line{
            margin: 0 0 25px 0;
        }
        .nav.nav-tabs.nav-tabs-line::before, .nav.nav-tabs.nav-tabs-line::after{
            content: " ";
            display: table;
        }
        .nav.nav-tabs.nav-tabs-line::after{
            clear: both;
        }
        .nav.nav-tabs.nav-tabs-line .nav-item{
            margin-right: 4rem;
            margin-bottom: -1px;
        }
        .nav.nav-tabs.nav-tabs-line .nav-item a.nav-link.active, .nav.nav-tabs.nav-tabs-line .nav-item a.nav-link:hover{
            background: transparent;
            color: #646c9a;
            border-bottom: 1px solid #5d78ff;
        }
        .nav.nav-tabs.nav-tabs-line .nav-item a.nav-link:hover,
        .nav.nav-tabs.nav-tabs-line .nav-item a.nav-link.active,
        .nav.nav-tabs.nav-tabs-line .nav-item a.nav-link.active:hover{
            transition: all 0.3s;
            color: #3699ff !important;
            border-bottom-width: 2px;
        }
        .nav.nav-tabs.nav-tabs-line .nav-item a.nav-link{
            padding: 1.5rem 0;
            font-weight: 500;
            font-size: 1.1rem;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        .nav-tabs-line .nav-item a.nav-link{
            background: transparent;
            color: #646c9a;
        }
        .nav-tabs.nav-tabs-line .nav-link{
            border: 0;
            border-bottom: 1px solid transparent;
            padding: 12px 0;
            font-size: 1rem;
            font-weight: 400;
        }

        .profile-portlet__body-fit{
            padding: 0 !important;
        }
        .profile-portlet__body{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 25px;
            border-radius: 4px;
        }
        .ji-nav{
            display: block;
            padding: 0.5rem 0;
            margin: 20px 0;
            list-style: none;
            border: 0;
        }
        .ji-nav .ji-nav__item{
            margin: 0;
            width: 100%;
        }
        .ji-nav .ji-nav__item .ji-nav__link{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0.55rem 1.75rem;
            cursor: pointer;
        }
        .ji-nav .ji-nav__item .ji-nav__link.active{
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            background-color: #f7f8fa;
            border-left: 2px solid #5d78ff;
        }
        .ji-nav .ji-nav__item .ji-nav__link{
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-left: 2px solid transparent;
        }
        .ji-nav .ji-nav__item .ji-nav__link .ji-nav__link-icon{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 30px;
            flex: 0 0 30px;
            font-size: 1.25rem;
            line-height: 0;
            color: #c5cbe3;
        }
        .ji-nav .ji-nav__item .ji-nav__link.active .ji-nav__link-text{
            color: #5d78ff;
        }
        .ji-nav .ji-nav__item .ji-nav__link .ji-nav__link-text{
            color: #646c9a;
            font-weight: 500;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            font-size: 1rem;
        }
        .ji-nav__item:hover:not(.ji-nav__item--disabled){
            background-color: #f7f8fa;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        .ji-nav__item:hover:not(.ji-nav__item--disabled) .ji-nav__link .ji-nav__link-icon,
        .ji-nav__item:hover:not(.ji-nav__item--disabled) .ji-nav__link .ji-nav__link-text{
            color: #5d78ff;
        }

        .ji-portlet__head{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            position: relative;
            padding: 0 25px;
            border-bottom: 1px solid #ebedf2;
            min-height: 60px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            transition: left 0.3s, right 0.3s, height 0.3s;
        }
        .ji-portlet__head .ji-portlet__head-label{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-line-pack: flex-first;
        }
        .ji-portlet__head .ji-portlet__head-label .ji-portlet__head-label-title{
            margin: 0;
            padding: 0;
            font-size: 1.2rem;
            font-weight: 500;
            color: #3d4465;
        }
        .ji-portlet__head .ji-portlet__head-label .ji-portlet__head-label-title small {
            font-weight: 300;
            padding-left: 0.5rem;
            font-size: 1rem;
            color: #a1a8c3;
        }
        .ji-form__body{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 25px;
            border-radius: 4px;
        }
        .ji-form__foot{
            padding: 25px;
            border-top: 1px solid #ebedf2;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        .ji-form-section{
            padding: 0;
            margin: 0;
        }
        .form-group label{
            font-size: 1rem;
            font-weight: 400;
            color: #646c9a;
        }
        .col-form-label{
            padding-top: calc(.65rem + 1px);
            padding-bottom: calc(.65rem + 1px);
            margin-bottom: 0;
            font-size: inherit;
            line-height: 1.5;
        }
        a, a:hover{
            text-decoration: none !important;
        }
        .btn-success{
            color: #fff;
            background-color: #1dc9b7;
            border-color: #1dc9b7;
        }
        .btn-success:hover{
            color: #fff;
            background-color: #18a899;
            border-color: #179c8e;
        }
        .btn-secondary{
            background-color: transparent;
            border: 1px solid #e2e5ec;
            color: #646c9a;
        }
        .btn-secondary:hover{
            color: #646c9a;
            border-color: #e2e5ec !important;
            background-color: #f4f5f8 !important;
        }
        .btn-danger{
            color: #fff;
            background-color: #fd397a;
            border-color: #fd397a;
        }
        .btn-danger:hover{
            background-color: #fd1361;
            border-color: #fc0758;
        }
        .error-field input{
            border-color: #dc3545;
        }
        .temas-form-actions{
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }
        @media (min-width: 1025px){
            form label{
                text-align: right;
            }
        }
    </style>
{% endblock styles %}
{% block navitems %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'conteudo:home' %}">Início </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'accounts:perfil' %}">Perfil </a>
    </li>
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Sair </a>
        </li>
    {% endif %}
    {% if user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
    {% endif %}
{% endblock navitems %}
{% block sections %}
    <div class="main-block">
        <div class="profile-portlet">
            <div class="profile__content">
                <div class="row">
                    <!-- Profile Info -->
                    <div class="col-md-12 col-lg-5 col-xl-4">
                        <div class="profile__main">
                            <div class="profile__main-info">
                                <div class="profile__main-info-name">{{ user_name }}</div>
                                <div class="profile__main-info-position"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 col-xl-4">
                        <div class="profile__contact">
                            <div class="profile__main-info">
                                <a href="#" class="profile__contact-item">
                                    <span class="profile__contact-item-icon"><i class="fas fa-at"></i></span>
                                    <span class="profile__contact-item-text">{{ user_email }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Profile Info -->
                </div>
            </div>
            <div class="profile__nav">
                <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#ji-profile" data-toggle="tab">Conta & Perfil</a>
                    </li>
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link" href="#ji-escritorio" data-toggle="tab">Escritório</a>#}
                    {#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#ji-temas" data-toggle="tab">Temas</a>#}
{#                    </li>#}
                </ul>
            </div>
        </div>

        <div class="tab-content">
            <!-- Profile -->
            <div class="tab-pane fade active show" id="ji-profile" role="tabpanel">
                <div class="row">
                    <div class="col-lg-4 col-xl-3">
                        <div class="profile-portlet">
                            <div class="profile-portlet__body profile-portlet__body-fit">
                                <!-- Nav items -->
                                <ul class="ji-nav nav nav-tabs" role="tablist">
                                    <li class="ji-nav__item">
                                        <a class="ji-nav__link active" data-toggle="tab" href="#ji_form_info_pessoal" role="tab">
                                            <!-- Nav Item Icon -->
                                            <i class="ji-nav__link-icon far fa-address-card"></i>
                                            <span class="ji-nav__link-text">Informações Pessoais</span>
                                        </a>
                                    </li>
                                    <li class="ji-nav__item">
                                        <a class="ji-nav__link" data-toggle="tab" href="#ji_form_trocar_senha" role="tab" id="change-password">
                                            <!-- Nav Item Icon -->
                                            <i class="ji-nav__link-icon fas fa-lock"></i>
                                            <span class="ji-nav__link-text">Alterar senha</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- End Nav -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-xl-9">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="ji_form_info_pessoal" role="tabpanel">
                                <div class="profile-portlet">
                                    <div class="ji-portlet__head">
                                        <div class="ji-portlet__head-label">
                                            <h3 class="ji-portlet__head-label-title">Informações Pessoais
                                                <small>atualize suas informações pessoais</small>
                                            </h3>
                                        </div>
                                    </div>
                                    <!-- User Profile Form -->
                                    <form method="post">
                                        <div class="ji-form__body">
                                            <div class="ji-form-section">
                                                {% include 'includes/profile_form.html' with form=formulario_usuario %}
                                            </div>
                                        </div>
                                        <div class="ji-form__foot">
                                            <div class="ji-form__actions">
                                                <div class="col-lg-3 col-xl-3">
                                                    <button type="submit" class="btn btn-success">Atualizar</button>
                                                    <button type="reset" class="btn btn-secondary">Cancelar</button>
                                                </div>
                                                <div class="col-lg-9 col-xl-9"></div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- End Form -->
                                </div>
                            </div>

                            <div class="tab-pane fade" id="ji_form_trocar_senha" role="tabpanel">
                                <div class="profile-portlet">
                                    <div class="ji-portlet__head">
                                        <div class="ji-portlet__head-label">
                                            <h3 class="ji-portlet__head-label-title">Alterar senha
                                                <small>altere senha de acesso à conta</small>
                                            </h3>
                                        </div>
                                    </div>
                                    <!-- Change Password Form -->
                                    <form id="changePasswordForm" action="{% url 'accounts:change_password' %}" method="post">
                                        <div class="ji-form__body">
                                            <div class="ji-form-section" id="password-change-section">
                                                {% include 'includes/profile_form.html' with form=profile_form %}
                                            </div>
                                        </div>
                                        <div class="ji-form__foot">
                                            <div class="ji-form__actions">
                                                <div class="col-lg-3 col-xl-3">
                                                    <button type="submit" class="btn btn-danger">Atualizar</button>
                                                    <button type="reset" class="btn btn-secondary">Cancelar</button>
                                                </div>
                                                <div class="col-lg-9 col-xl-9"></div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- End Form -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Profile -->
            <!-- Firm -->
            <div class="tab-pane fade" id="ji-escritorio" role="tabpanel">
            </div>
            <!-- End Firm -->
            <!-- Temas -->
{#            <div class="tab-pane fade" id="ji-temas" role="tabpanel">#}
{#                <div class="row">#}
{#                    <div class="col-lg-4 col-xl-3">#}
{#                        <div class="profile-portlet">#}
{#                            <div class="profile-portlet__body profile-portlet__body-fit">#}
{#                                <!-- Nav Items -->#}
{#                                <ul class="ji-nav nav nav-tabs" role="tablist">#}
{#                                    <li class="ji-nav__item">#}
{#                                        <a class="ji-nav__link active" data-toggle="tab" href="#ji_form_select_temas" role="tab">#}
{#                                            <!-- Nav Item Icon -->#}
{#                                            <i class="ji-nav__link-icon far fa-list-alt"></i>#}
{#                                            <span class="ji-nav__link-text">Selecionar Temas</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                                <!-- End Nav -->#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-lg-8 col-xl-9">#}
{#                        <div class="tab-content">#}
{#                            <div class="tab-pane fade active show" id="ji-form_select_temas" role="tabpanel">#}
{#                                <div class="profile-portlet">#}
{#                                    <div class="ji-portlet__head">#}
{#                                        <div class="ji-portlet__head-label">#}
{#                                            <h3 class="ji-portlet__head-label-title">Temas#}
{#                                                <small>selecionar temas para serem acompanhados</small>#}
{#                                            </h3>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <!-- Select Tema Form -->#}
{#                                    <form id="form-select-temas" action="{% url 'accounts:add-temas' %}" method="post">#}
{#                                        <div class="ji-form__body">#}
{#                                            {% csrf_token %}#}
{#                                            <div class="ji-form-section" id="select-section">#}
{#                                                {% include 'includes/form.html' with form=ut %}#}
{#                                                <div class="temas-form-actions">#}
{#                                                    <button class="btn-secondary add-tema"><i class="fas fa-chevron-up"></i></button>#}
{#                                                    <button class="btn-secondary remove-tema"><i class="fas fa-chevron-down"></i></button>#}
{#                                                </div>#}
{#                                                {% include 'includes/form.html' with form=at %}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="ji-form__foot">#}
{#                                            <div class="ji-form__actions">#}
{#                                                <div class="col-lg-3 col-xl-3">#}
{#                                                    <button type="submit" class="btn btn-success">Atualizar</button>#}
{#                                                    <button type="reset" class="btn btn-secondary">Cancelar</button>#}
{#                                                </div>#}
{#                                                <div class="col-lg-9 col-xl-9"></div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </form>#}
{#                                    <!-- End Form -->#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <!-- End Temas -->
        </div>
    </div>
{% endblock sections %}
{% block scripts %}
    <script>
        $(document).ready(function () {

            $('.add-tema').click(function (e) {
                e.preventDefault();
                $.each($('#id_avb-titulo_tema option:selected'), function(){
                    let numero = $(this).attr('value');
                    let texto = $(this).text();
                    let tt = document.getElementById('titulo_tema');
                    tt[tt.options.length] = new Option(texto, numero);
                    $(this).remove();
                });
            });

            $('.remove-tema').click(function (e) {
                e.preventDefault();
                $.each($('#titulo_tema option:selected'), function(){
                    let numero = $(this).attr('value');
                    let texto = $(this).text();
                    let tt = document.getElementById('id_avb-titulo_tema');
                    tt[tt.options.length] = new Option(texto, numero);
                    $(this).remove();
                });
            });

            $('#form-select-temas').submit(function (e) {
                e.preventDefault();
                let tt = document.getElementById('titulo_tema');
                for (let i = 0; i < tt.options.length; i++){
                    tt.options[i].selected = true;
                }
                $.ajax({
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    dataType: 'json',
                    method: 'post',
                    success: function (response) {
                        iziToast.settings({
                            timeout: 3000,
                            position: 'center',
                        });
                        if(response.is_valid){
                            iziToast.success({
                                title: 'Sucesso',
                                message: 'Temas atualizados',
                            });
                        }
                        else{
                            iziToast.error({
                                title: 'Erro!',
                                message: 'Falha ao atualizar',
                            });
                        }
                    }
                })
            })

        });
        $('#changePasswordForm').submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).prop('action'),
                data: $(this).serialize(),
                dataType: 'json',
                method: 'post',
                success: function(response){
                    if (response.is_valid){
                        alert('senha alterada');
                    }
                    else{
                        $('#password-change-section').html(response.html_response);
                    }
                }
            })
        });


    </script>
{% endblock %}