{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Registro - Jurisintel{% endblock %}
{% block styles %}
    {{ block.super }}
    <style>
        .card-registro{
            color: #303030;
        }
        .p1{
            padding-top: 5rem;
        }
        .register-area{
            padding: 30px 0 30px 0;
        }
    </style>
{% endblock styles %}
{% block navbar %}
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="font-family: Muli, sans-serif;">
        <div class="container"><a class="navbar-brand logo" href="#">JurisIntel</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'home' %}">Início</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Funcionalidades</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Preços</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Sobre</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'contato' %}">Contato</a></li>
                </ul>
                <a class="btn btn-outline-success" role="button" href="{% url 'accounts:user_login' %}">Entrar</a>
            </div>
        </div>
    </nav>
{% endblock navbar %}
{% block main %}
    <section class="p1 clean-block dark">
        <div class="d-flex flex-row justify-content-center register-area">
            <div class="col-lg-4 col-md-10 col-sm-12">
                <div class="card card-registro">
                    <div class="card-body">
                        <h3 class="card-title">Registro</h3>
                        <form method="post">
                            {% csrf_token %}
                            {% include 'includes/form.html' with form=user_form %}
                            <small><b>Período de testes de 7 dias</b></small><br>
                            <small>Ao se cadastrar você concorda com os <a href="{{ termos }}" target="_blank">termos de uso</a>
                                e com a nossa <a href="{{ pprivacidade }}" target="_blank">política de privacidade</a></small>
                            <button type="submit" class="btn btn-primary btn-block mt-1">Cadastrar</button>
                        </form>
                    </div>
                    <div class="card-footer text-muted text-center">
                        Já possui uma conta? <a href="{% url 'accounts:user_login' %}">Entrar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}