E-mail de aviso de cadastro de novo usuário.<br>
------------------------------<br>
<br>
O usuário <strong>{{ usuario }}</strong> se cadastrou no sistema. <br>
O email é <strong>{{ email }}</strong> <br>
Estado de maior atuação: <strong>{{ estado }}</strong> <br>
Área de maior atuação: <strong>{{ area }}</strong> <br>
Advogados que trabalham no escritório: <strong>{{ advogados }}</strong> <br>
Processos ativos estimados no escritório: <strong>{{ processos }}</strong> <br>
<br>
-------------------------------<br>
<br>
E-mail encaminhado pelo sistema de notificação do JurisIntel Admin