{% extends 'base.html' %}

{% block title %}
    {% if validlink %}
        Change password for {{ form.user.username }}
    {% else %}
        Reset your password
    {% endif %}
{% endblock %}

{% block conteudo %}
    <nav class="navbar navbar-expand-lg flex-column flex-md-row bd-navbar" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">JurisIntel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i style="color: white;" class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                    <li class="nav-item">
                        <a href="http://blog.jurisintel.com.br" target="_blank">Blog</a>
                    </li>
                    <li class="nav-item">
                        Contato
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'content:processos' %}">Processos</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}">Sair</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'accounts:user_login' %}">Entrar</a>
                        </li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <section class="logincontainer">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="card">
                    <div class="card-body">
                        {% if validlink %}
                            <h3 class="card-title">Mudar senha para @{{ form.user.email }}</h3>
                            <form method="post" novalidate>
                                {% csrf_token %}
                                {% include 'includes/form.html' %}
                                <button type="submit" class="btn btn-success btn-block">Alterar senha</button>
                            </form>
                        {% else %}
                            <h3 class="card-title">Redefina sua senha</h3>
                            <div class="alert alert-danger" role="alert">
                                Parece que o link que você clicou é inválido. Por favor, tente novamente.
                            </div>
                            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Enviar novo e-mail</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}