{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block conteudo %}
    <nav class="navbar navbar-expand-lg flex-column flex-md-row bd-navbar" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">JurisIntel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i style="color: white;" class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'content:processos' %}">Processos</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}">Sair</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'accounts:user_login' %}">Entrar</a>
                        </li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <section class="logincontainer">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <ol class="breadcrumb my-4">
                    <li class="breadcrumb-item"><a href="{% url 'accounts:perfil' %}">Perfil</a></li>
                    <li class="breadcrumb-item active">Alterar senha</li>
                </ol>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Redefinir senha</h3>
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <button type="submit" class="btn btn-primary btn-block">Change password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}