Olá,

Recebemos um pedido de redefinição de senha para o e-mail {{ email }}.
Clique no endereço abaixo:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Se clicar no endereço acima não funcionar, por favor copie e cole no seu navegador.

Em caso de você ter recebido este e-mail sem ter solicitado, é bem provável que algum outro
usuário digitou seu e-mail por engano enquanto tentava redefinir a senha. Caso não tenha sido
você que requisitou, não será necessário tomar nenhuma ação e pode tranquilamente descartar
este e-mail.

Obrigado,

JurisIntel - Desenvolvendo tecnologia para o direito brasileiro.