<div class="card-block ementa-block">
<p>
<button class="btn btn-info btn-sm" type="button"
        data-toggle="collapse" data-target="#ementaCollapse" aria-expanded="false" aria-controls="ementaCollapse">
    <i class="fas fa-book-open"></i>
</button>
</p>
<div class="collapse" id="ementaCollapse">
    <textarea class="form-control ementa-text" id="ementaPreview" rows="10" readonly></textarea>
</div>
</div>
<style>
    #ementaCollapse, .ementa-block{
        width: 100%;
    }
    #ementaPreview{
        font-size: 10pt;
    }
</style>