{% extends 'base.html' %}

{% block navbar %}
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="font-family: Muli, sans-serif;">
        <div class="container"><a class="navbar-brand logo" href="#">JurisIntel</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Início</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="features.html">Funcionalidades</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="pricing.html">Preços</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="about-us.html">Sobre</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="contact-us.html">Contato</a></li>
                </ul><a class="btn btn-outline-success" role="button" href="login.html" style="margin: 0;margin-right: 32px;">Entrar</a><a class="btn btn-primary" role="button" href="registration.html">Registrar</a></div>
        </div>
    </nav>
{% endblock navbar %}
{% block main %}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark" style="font-family: Muli, sans-serif;">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Contato</h2>
                    <p>Qualquer tipo de contato, basta preencher o formulário abaixo e responderemos o mais rápido possível</p>
                </div>
                <form>
                    <div class="form-group"><label>Nome</label><input class="form-control" type="text"></div>
                    <div class="form-group"><label>Assunto</label><input class="form-control" type="text"></div>
                    <div class="form-group"><label>Email</label><input class="form-control" type="email"></div>
                    <div class="form-group"><label>Mensagem</label><textarea class="form-control"></textarea></div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Enviar</button></div>
                </form>
            </div>
        </section>
    </main>
{% endblock main %}