<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Features - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="font-family: Muli, sans-serif;">
        <div class="container"><a class="navbar-brand logo" href="#">JurisIntel</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Início</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="features.html">Funcionalidades</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="pricing.html">Preços</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="about-us.html">Sobre</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="contact-us.html">Contato</a></li>
                </ul><a class="btn btn-outline-success" role="button" href="login.html" style="margin: 0;margin-right: 32px;">Entrar</a><a class="btn btn-primary" role="button" href="registration.html">Registrar</a></div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block features" style="font-family: Muli, sans-serif;">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Por que a JurisIntel pode lhe ajudar ?<br></h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="fas fa-hashtag icon"></i>
                        <h4 style="font-family: Muli, sans-serif;"><strong>Jurisprudências adequadas sem usar palavras-chave</strong><br></h4>
                        <p>Insira o seu caso e a nossa tecnologia de Processamento de Linguagem Jurídica fará o resto.<br></p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-docs icon"></i>
                        <h4 style="font-family: Muli, sans-serif;"><strong>Resumo automático para a sua análise</strong><br></h4>
                        <p>Insira o seu caso e a nossa tecnologia de Processamento de Linguagem Jurídica fará o resto.<br></p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                        <h4><strong>Descubra temas que interessam ao seu cliente</strong><br></h4>
                        <p>Receba e monitore informações estratégicas novas ou relacionadas a casos em que você já atua.<br></p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="far fa-hdd icon"></i>
                        <h4><strong>Saiba se existe algo parecido em sua base</strong><br></h4>
                        <p>Insira os documentos dos seus casos na JurisIntel e o sistema fará um “match” quando houver algo parecido.<br></p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row justify-content-center" style="font-family: Muli, sans-serif;">
                <div class="col-sm-3" style="max-width: 33%;">
                    <h5>Comece por aqui</h5>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Registrar</a></li>
                        <li><a href="#">Teste gratuitamente</a></li>
                    </ul>
                </div>
                <div class="col-sm-3" style="max-width: 33%;">
                    <h5>Sobre nós</h5>
                    <ul>
                        <li><a href="#">Startup</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </div>
                <div class="col-sm-3" style="max-width: 33%;">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Termos de Serviço</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                        <li><a href="#">Política de Privacidade</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clean-block add-on sponsors"><a href="#"><img src="assets/img/ace%20startups_logo_branco_horizontal@3x.svg" style="height: 30px;"></a><a href="#"><img src="assets/img/logo-inova-branco.svg" style="height: 32px;"></a><a href="#"><img src="assets/img/logo-y-combinator-startup-school-branco.png" style="height: 46px;"></a></div>
        <div class="footer-copyright">
            <p>© 2019 JurisIntel - Inteligência Jurídica</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>