{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}JurisIntel - Inteligência Jurídica{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="font-family: Muli, sans-serif;">
        <div class="container">
            <a class="navbar-brand logo" href="#">
                <img style="width: 7.3rem; height: 2rem;" src="{% static 'img/JurisIntel-Logo_v3.png' %}" alt="JurisIntel Logo">
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'home' %}">Início</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Funcionalidades</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Preços</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Sobre</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'contato' %}">Contato</a></li>
                </ul><a class="btn btn-outline-success" role="button" href="{% url 'accounts:user_login' %}" style="margin: 0;margin-right: 32px;">Entrar</a>
                <a class="btn btn-primary" role="button" href="{% url 'accounts:registro' %}">Registrar</a></div>
        </div>
    </nav>
{% endblock navbar %}
{% block main %}
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image: url({% static 'img/7854a517-96b5-4dd5-a008-07a2d591bc26.jpg'%}); color: rgba(49,67,78,0.69);font-family: Muli, sans-serif;">
            <div class="text-center text">
                <h2 style="margin-bottom: 30px;"><strong>Menos insegurança e Mais inteligência com a informação jurídica</strong><br></h2>
                <p style="margin-bottom: 30px;">Elimine o desperdício de tempo ao lidar com seu acervo, casos e pesquisas. Entregue valor ao seu cliente. <br></p>
                <a class="btn btn-success btn-lg"role="button" href="{% url 'accounts:registro' %}">Teste gratuitamente</a>
            </div>
        </section>
        <section class="clean-block features" style="font-family: Muli, sans-serif;">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Poder e Simplicidade para manter o seu trabalho artesanal<br></h2>
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-5 feature-box"><i class="icon-magnifier icon"></i>
                        <h4 style="font-family: Muli, sans-serif;"><strong>Jurisprudências adequadas sem usar palavras-chave</strong><br></h4>
                        <p>Insira o seu caso e a nossa tecnologia de Processamento de Linguagem Jurídica fará o resto.<br></p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-docs icon"></i>
                        <h4 style="font-family: Muli, sans-serif;"><strong>Resumo automático para a sua análise</strong><br></h4>
                        <p>Insira o seu caso e a nossa tecnologia de Processamento de Linguagem Jurídica fará o resto.<br></p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                        <h4><strong>Descubra temas que interessam ao seu cliente</strong><br></h4>
                        <p>Receba e monitore informações estratégicas novas ou relacionadas a casos em que você já atua.<br></p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="far fa-hdd icon"></i>
                        <h4><strong>Saiba se existe algo parecido em seu escritório</strong><br></h4>
                        <p>Insira os documentos dos seus casos na JurisIntel e o sistema fará um “match” quando houver algo parecido.<br></p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="fas fa-hashtag icon"></i>
                        <h4><strong>Classifique o seu acervo automaticamente</strong><br></h4>
                        <p>Todo o conhecimento agrupado por similaridade de temas e com geração de “tags” automáticas.<br></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block clean-info dark" style="font-family: Muli, sans-serif;">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Como Funciona<br></h2>
                </div>
                <div class="row align-items-center" style="padding-bottom: 50px;">
                    <div class="col-md-6"><img class="img-thumbnail" src="{% static 'img/625FFA55.png'%}"></div>
                    <div class="col-md-6">
                        <h3><strong>Basta acessar o site e inserir um arquivo</strong><br></h3>
                        <div class="getting-started-info">
                            <p>A tecnologia extrai o texto das peças, minutas e outros arquivos armazenados pelo usuário.<br></p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center" style="padding-bottom: 50px;">
                    <div class="col-md-6">
                        <h3><strong>O sistema faz um resumo e a pesquisa para você</strong><br></h3>
                        <div class="getting-started-info">
                            <p>Esse conteúdo é relacionado com decisões e normas tributárias a partir da compreensão dos documentos.<br></p>
                        </div>
                    </div>
                    <div class="col"><img class="img-thumbnail" src="{% static 'img/F38E59B7.png'%}"></div>
                </div>
                <div class="row align-items-center" style="padding-bottom: 50px;">
                    <div class="col-md-6"><img class="img-thumbnail" src="{% static 'img/B81EBC1D.jpg'%}"></div>
                    <div class="col-md-6">
                        <h3><strong>Pronto! Resultados entregues para cada caso</strong><br></h3>
                        <div class="getting-started-info">
                            <p>Os resultados de decisões aplicáveis são entregues no contexto correto, e várias relações de conteúdo podem ser feitas. <br></p>
                        </div>
                    </div>
                </div>
                <div>
                    <svg class="upload-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 454 453" style="enable-background:new 0 0 454 453;" xml:space="preserve">

                        <g id="Camada_1">
	                        <linearGradient id="Fundo_1_" gradientUnits="userSpaceOnUse" x1="227" y1="453.3522" x2="227" y2="0.6478">
                                <stop  offset="6.926126e-08" style="stop-color:#FFFFFF"/>
                                <stop  offset="0.5218" style="stop-color:#FFFFFF"/>
                            </linearGradient>
                            <path id="Fundo" class="st0" d="M439.17,453.352H14.83c-7.8,0-14.182-6.382-14.182-14.182V14.83c0-7.8,6.382-14.182,14.182-14.182
		                    h424.34c7.8,0,14.182,6.382,14.182,14.182v424.34C453.352,446.97,446.97,453.352,439.17,453.352z"/>
                            <g id="Dropzone">
                                <path class="st1" d="M395.745,189.085H64.851c-11.374,0-20.681-9.306-20.681-20.681V77.255c0-11.374,9.306-20.681,20.681-20.681
                                    h330.894c11.374,0,20.681,9.306,20.681,20.681v91.149C416.426,179.779,407.119,189.085,395.745,189.085z"/>
                                <path class="st2" d="M395.745,189.085H64.851c-11.374,0-20.681-9.306-20.681-20.681V77.255c0-11.374,9.306-20.681,20.681-20.681
                                    h330.894c11.374,0,20.681,9.306,20.681,20.681v91.149C416.426,179.779,407.119,189.085,395.745,189.085z"/>
	                        </g>
                            <text transform="matrix(1 0 0 1 151 158.667)" class="st3 st4">Carregar novos arquivos</text>
                            <g id="Seta_1_">
                                <polygon id="Seta" class="st5" points="214.81,121 238.689,121 238.689,106.788 251.5,106.788 226.748,71.857 202,106.788
                                    214.81,106.788 		"/>
                                <rect x="202" y="127" class="st5" width="49" height="10"/>
	                        </g>
                        </g>
                        <g id="adicionar">
	                        <path class="st6" d="M267,227v82c0,3.3-2.7,6-6,6h-68c-3.3,0-6-2.7-6-6v-98c0-3.3,2.7-6,6-6h52L267,227z"/>
                            <path class="st7" d="M267,227h-16c-3.3,0-6-2.7-6-6v-16L267,227z"/>
                            <path class="st8" d="M239,296.01h-56.563c-3.314,0-6-2.686-6-6V263c0-3.314,2.686-6,6-6H239c3.314,0,6,2.686,6,6v27.01
		                        C245,293.324,242.314,296.01,239,296.01z"/>
                            <text transform="matrix(1 0 0 1 186.1821 284.2783)" class="st9 st3 st10">PDF</text>
                            <g>
		                        <circle class="st11" cx="291" cy="257" r="31"/>
                                <path class="st9" d="M309,254h-14v-14c0-1.933-1.567-3.5-3.5-3.5s-3.5,1.567-3.5,3.5v14h-14c-1.933,0-3.5,1.567-3.5,3.5
			                    s1.567,3.5,3.5,3.5h14v14c0,1.933,1.567,3.5,3.5,3.5s3.5-1.567,3.5-3.5v-14h14c1.933,0,3.5-1.567,3.5-3.5S310.933,254,309,254z"/>
	                        </g>
                            <g>
                                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="267" y1="360.3105" x2="267" y2="269.6895">
                                    <stop  offset="6.926126e-08" style="stop-color:#F2F2F2"/>
                                    <stop  offset="0.5218" style="stop-color:#FFFFFF"/>
                                </linearGradient>
                                <path class="st12" d="M253.633,360.311c-1.369-8.161-9.41-21.838-16.467-33.129l-0.945-1.516
                                    c-1.216-1.966-2.225-4.085-2.997-6.299c-0.039-0.111-0.088-0.219-0.146-0.322c-0.588-1.043-0.886-2.133-0.886-3.239
                                    c0-3.67,2.986-6.656,6.656-6.656s6.656,2.986,6.656,6.656c0,1.104,0.896,2,2,2s2-0.896,2-2v-35.132
                                    c0-3.67,2.986-6.656,6.656-6.656c1.188,0,2.337,0.332,3.416,0.987c0.316,0.192,0.676,0.291,1.038,0.291
                                    c0.219,0,0.438-0.036,0.648-0.108c0.562-0.192,1.009-0.624,1.221-1.18c0.984-2.583,3.477-4.318,6.201-4.318
                                    c1.99,0,3.872,0.923,5.163,2.532c0.379,0.473,0.953,0.748,1.56,0.748s1.181-0.275,1.56-0.748c1.291-1.609,3.173-2.532,5.163-2.532
                                    c3.67,0,6.656,2.986,6.656,6.656v6.387c0,0.719,0.386,1.382,1.01,1.737c0.307,0.175,0.648,0.263,0.99,0.263
                                    c0.353,0,0.705-0.093,1.019-0.279c1.066-0.63,2.191-0.95,3.346-0.95c3.67,0,6.656,2.986,6.656,6.656v30.204
                                    c-0.003,0.046-0.005,0.092-0.005,0.135c-0.094,7.287-3.697,21.501-4.842,24.172c-1.196,2.79-2.008,11.641-2.322,15.641H253.633z"
                                />
                                <path d="M282.13,271.69c2.567,0,4.656,2.089,4.656,4.656v6.386c0,1.437,0.77,2.763,2.018,3.475
                                    c0.615,0.35,1.298,0.525,1.982,0.525c0.704,0,1.409-0.186,2.036-0.557c0.754-0.446,1.537-0.672,2.328-0.672
                                    c2.567,0,4.656,2.089,4.656,4.656v30.161c-0.002,0.043-0.003,0.085-0.004,0.127c-0.089,6.95-3.608,20.931-4.682,23.436
                                    c-1.15,2.683-1.921,9.686-2.329,14.428h-2.006h-34.625h-0.904c-2.062-8.474-9.304-20.842-16.39-32.181
                                    c-0.363-0.581-0.681-1.09-0.945-1.516c-1.14-1.842-2.086-3.829-2.81-5.905c-0.078-0.223-0.175-0.439-0.292-0.645
                                    c-0.416-0.739-0.627-1.498-0.627-2.257c0-2.567,2.089-4.656,4.656-4.656c2.567,0,4.656,2.089,4.656,4.656c0,2.209,1.791,4,4,4
                                    c2.209,0,4-1.791,4-4v-35.132c0-2.567,2.089-4.656,4.656-4.656c0.816,0,1.616,0.234,2.377,0.697
                                    c0.633,0.385,1.353,0.581,2.077,0.581c0.437,0,0.875-0.071,1.298-0.216c1.123-0.385,2.017-1.25,2.44-2.359
                                    c0.691-1.813,2.432-3.031,4.333-3.031c1.38,0,2.693,0.65,3.603,1.783c0.759,0.946,1.907,1.496,3.12,1.496
                                    c1.213,0,2.36-0.55,3.12-1.496C279.437,272.34,280.75,271.69,282.13,271.69 M282.13,267.69c-2.723,0-5.133,1.299-6.722,3.28
                                    c-1.59-1.981-4-3.28-6.723-3.28c-3.685,0-6.827,2.344-8.07,5.606c-1.307-0.794-2.821-1.278-4.454-1.278
                                    c-4.761,0-8.656,3.895-8.656,8.656v35.132c0-4.781-3.876-8.656-8.656-8.656c-4.781,0-8.656,3.876-8.656,8.656
                                    c0,1.541,0.436,2.967,1.142,4.221c0.657,1.883,1.649,4.21,3.186,6.692c3.591,5.801,17.082,26.705,17.313,35.592h4.328h34.625
                                    h5.709c0,0,0.921-13.629,2.302-16.852c1.29-3.011,4.909-17.508,5.005-24.96c0-0.015,0.004-0.028,0.004-0.042v-30.297
                                    c0-4.761-3.895-8.656-8.656-8.656c-1.596,0-3.077,0.468-4.364,1.229v-6.386C290.787,271.585,286.892,267.69,282.13,267.69
                                    L282.13,267.69z"/>
	                        </g>
                            <g>
                                <rect x="260.611" y="273.296" width="4.328" height="34.625"/>
                            </g>
                            <g>
                                <rect x="273.537" y="273.296" width="4.328" height="34.625"/>
                            </g>
                            <g>
                                <rect x="286.607" y="281.566" width="4.184" height="30.28"/>
                            </g>
                            <g class="st13">
                                    <rect x="262.775" y="325.223" class="st14" width="4.225" height="14.349"/>
                                </g>
                            <g class="st13">
                                    <rect x="271.424" y="325.223" class="st14" width="4.225" height="14.349"/>
                                </g>
                            <g class="st13">
                                    <rect x="280.142" y="325.223" class="st14" width="4.225" height="14.349"/>
                                </g>
                        </g>
                    </svg>
                </div>
            </div>
        </section>
    </main>
{% endblock main %}
{% block styles %}
    {{ block.super }}
    <style>
        .upload-svg{
                width: 300px;
                height: 300px;
        }
        .st0{fill:url(#Fundo_1_);}
        .st1{fill:#E6E6E6;}
        .st2{fill:none;stroke:#999999;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:11.877,11.877;}
        .st3{font-family:'Muli', sans-serif;}
        .st4{font-size:15.0138px;}
        .st6{fill:#808080;fill-opacity:0.51;}
        .st7{fill:#FF0000;}
        .st8{fill:#C1272D;}
        .st9{fill:#FFFFFF;}
        .st10{font-size:23.5816px;}
        .st11{fill:#1BC4A5;}
        .st12{fill:url(#SVGID_1_);}
        .st13{opacity:0.49;}
        .st14{fill:#808080;}
        #adicionar {
            animation: move 2s ease-in-out infinite;
        }

        .st5 {
            animation: colorir 2s ease-in-out infinite;
        }

        @keyframes colorir {
            from {
                fill: #999999;
            }

            to {
                fill: #1BC4A5;
            }
        }

        @keyframes move {
            from {
                display: none;
                opacity: 1;
                transform: translate(-80px, 250px);
            }

            to {
                display: block;
                opacity: 0;
                transform: translate(0px, -100px);
            }
        }
    </style>
{% endblock styles %}